* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornsilk;
}
.titles {

    text-align: center;
    color: blue

}

#container {
    
    width: 40%;
    height: 300px;
    margin: auto;
    padding: 10px;
    
}
#label {
    
    width: 40%;
    height: 45px;
    margin: auto;
    padding: 5px;
    text-align: center;
}
#dev {

    width: 45%;
    height: 45px;
    float: left;
    overflow: hidden;
}
#student {

    width: 45%;
    height: 45px;
    float: right;
    overflow: hidden;
    
}
#boxOne {

    width: 45%;
    height: 300px;
    float: left;
    overflow: hidden;
}
#boxTwo {

    width: 45%;
    height: 300px;
    float: right;
    overflow: hidden;
    
}